:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --explanation-color: #424242;
  --bg-color: #fff;
  --bs-border-color: #dee2e6;
  --box-color: #f8f9fa;
  --tab-btn-color: #ccc;
  --tab-btn-hover-color: #ddd;
  --github-cat-bg: #151513; 
  --github-cat-color:#fff;
}


[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --explanation-color: #e1e1ff;
  --bg-color: #161625;
  --bs-border-color: #495057;
  --box-color: #212529;
  --tab-btn-color: #aaa;
  --tab-btn-hover-color: #bbb;
  --github-cat-bg: #fff; 
  --github-cat-color:#151513;
}



body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color) !important;
  color: var(--primary-color) !important;
}

.center {
  margin: auto;
  width: 80%;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid var(--bs-border-color) !important;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  height: inherit;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--tab-btn-hover-color) !important;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--tab-btn-color) !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--bs-border-color) !important;
}



.form-control-plaintext {
  background-color: var(--bg-color) !important;
  border: 1px solid !important;
  border-color: var(--bs-border-color) !important;
}


.comment {
  position: relative;
  display: inline-block;
}

.comment .commenttext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.comment .commenttext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.comment:hover .commenttext {
  visibility: visible;
  opacity: 1;
}

#Copy {
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: var(--bs-border-color) !important;
  color: inherit !important;
}

.explanation {
  margin-bottom: 1rem !important;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--explanation-color) !important;
}

.top {
  padding: 1rem;
  background-color: var(--box-color) !important;
}

.mid {
  border: 1px solid;
  border-color: #dee2e6;
  width: 100%;
  border-radius: 10px;
}

.btm {
  padding: 1rem;
  background-color: var(--box-color) !important;
}

.input-group-text {
  color: inherit !important;
  display: flex;
  justify-content: center;
  width: 15%;
}

#NSE-Port-Number {
  width: 20%;
}

.input-group {
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.plus-minus-box {
  align-items: center;
}

.minus-btn,
.plus-btn {
  padding: 2px 10px;
  font-weight: normal;
  border: 1.5px solid black;
  font-size: 16px;
  cursor: pointer;
}

#num {
  width: 150px;
  text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    padding-left: 25px; /* Adjust the padding value as needed */
  }


.attribute-column {
  padding-right: 530px; /* Adjust the padding value as needed */
}


.form-select {

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.summary {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

#Github-Cat {
  fill: var(--github-cat-bg);
  color: var(--github-cat-color);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

#Light-Bulb {
  fill: var(--github-cat-bg);
  color: var(--github-cat-color);
  position: absolute;
  top: 0;
  border: 0;
  left: 0;
}

#Switch-Color {
  background-color: var(--github-cat-bg);
  color: var(--github-cat-color);
  position: absolute;
  top: 10;
  border: 0;
  left: 0;
  font-size: 20px;
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

